<h1 align="center"> Python Basics</h1>

## Table of Contents

<ul>
  <li>[Installing Python (Anaconda)](#Install-Anaconda)</li>
  <li>[Hello World!](#Hello-World!)</li>
  <li>[String Manipulation](#String-Manipulations)
  </li>
  <li>[Simple Math](#Simple-Math)</li>
  <li>[if elif else](#if-elif-else)</li>
  <li>[for loops](#For-Loops)</li>
  <li>[Testing your Knowledge (Fizz Buzz)](#Fizz-Buzz)</li>
</ul>

## Why Python

Python is Open Source (Free). Lots of people from around the world are continually improving python. Used worldwide at top tier companies (youtube, google, yelp, etc) <br>

Also Nature recommends it [(link)](http://www.nature.com/news/programming-pick-up-python-1.16833)

## Why IPython/Jupyter

The IPython Notebook is another popular package — “a coder's lab notebook” — that allows users to interleave data, code and explanatory text in a single browser-based page, rather than in separate files

### Install Anaconda
If you don't have python installed, please see the blog post or youtube video for your operating system (Mac, Windows Ubuntu)

Operating System | Blog Post | Youtube Video
--- | --- | ---
Mac | [Install Anaconda on Mac](https://medium.com/@GalarnykMichael/install-python-on-mac-anaconda-ccd9f2014072#.lvhw2gt3k "Install Anaconda on Mac") | [Youtube Video](https://www.youtube.com/watch?v=B6d5LrA8bNE "Youtube Video")
Ubuntu | [Install Anaconda on Ubuntu](https://medium.com/@GalarnykMichael/install-python-on-ubuntu-anaconda-65623042cb5a#.4kwsp0wjl "Install Anaconda on Ubuntu") | [Youtube Video](https://www.youtube.com/watch?v=jo4RMiM-ihs "Youtube Video")
Windows | [Install Anaconda on Windows](https://medium.com/@GalarnykMichael/install-python-on-windows-anaconda-c63c7c3d1444#.66f7y3whf "Install Anaconda on Windows") | [Youtube Video](https://www.youtube.com/watch?v=dgjEUcccRwM "Youtube Video")

## Basic Types

The main basic data types in python are numbers (ints and floats), booleans and strings.

### Hello World!
alphanumeric characters in quotations

In [19]:
# This is a one line comment
print('Hello World!')

Hello World!

In [20]:
# Strings can be enclosed by ',", or """
print("Hello World!")

Hello World!

In [21]:
# \ is used as a escape character. 
# There are many special escape sequences
# Notable are: \t (tab)
#             \n (new line)

In [22]:
print("The \n makes a new line")

The
 makes a new line

In [23]:
print("The \t is a tab")

The 	 is a tab

In [24]:
print('I\'m going to the movies')

I'm going to the movies

In [25]:
# Using \ to not accidently close the string by having a closing "
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

In [26]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'Hello World'
print(firstVariable)

Hello World

### String Manipulations

Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [27]:
# go over ? mark after if you are not sure what method does. 
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

In [28]:
# To look up what each method does
firstVariable.lower?

In [35]:
# Can also use help
help(firstVariable.lower)

Help on built-in function lower:

lower(...)
    S.lower() -> string

    Return a copy of the string S converted to lowercase.

In [36]:
help

In [29]:
firstVariable.split(' ')

['Hello', 'World']

In [30]:
a=firstVariable.split(' ')
a

['Hello', 'World']

In [31]:
' '.join(a)

'Hello World'

In [32]:
print("0" + "1")

01

In [33]:
"0" * 3

'000'

In [34]:
# You can add strings together. 
"Fizz" + "Buzz"

'FizzBuzz'

## Simple Math

There are four distinct numeric types: plain integers, long integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of plain integers.

In [138]:
# Addition, add two int together
1+1

2

In [139]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [140]:
130-2

128

In [141]:
# integer division
130/2

65.0

In [142]:
130.0/2

65.0

In [143]:
# Multiplication
2*3

6

In [144]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [145]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
9%3

0

## if statement

Comparison Operator | Function
--- | --- 
< | less than
<= | less than or equal to
> | greater than
>= | greater than or equal to
== | equal
!= | not equal

check if something is True, if it is, do it. If it is not True (False), don't do it<br>

In [146]:
# Notice you have to indent after you start a if statement. 
num = 3
if num == 3: 
    print(num)

3

In [147]:
# Nothing is outputted because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

In [148]:
num = 3
if num % 3 == 0:
    print("Fizz")

Fizz

In [149]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [150]:
if True:
    print("This was True")

This was True

In [151]:
if False: 
    print("Nothing printed")

Logical Operator | Description
--- | ---
and | If both the operands are True then condition becomes True.
or | If any of the two operands are True then condition becomes True. 
not | Used to reverse the logical (not False becomes True, not True becomes False)

In [152]:
num = 4
num > 0 and num  < 15

True

In [153]:
# both the conditions are true, so the num will be printed out
if num > 0 and num  < 15:
    print(num)

4

In [154]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num  > 15

True

In [155]:
if num > 0 or num  > 15:
    print(num)

4

In [156]:
# or will only evaluate to False if both are False
if False or False:
    print('Nothing will print out')

In [157]:
num = 10
not num < 20

False

## else statement

Must be after an if or elif statement. There can be at most one else statement. Will only be executed if all the "if" and "elif" statements above it are False.

In [158]:
num = 1
if num > 3 :
    print("Hi")

In [159]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [160]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

<b>Task</b>

1. Assign num to an integer value. 
2. Write an if else combination that will print "Your integer is even" if the integer is even. Otherwise, print "Your integer is odd".

Hint: Any integer that can be divided exactly by 2 is an even number (examples: 2, 4, 6). Any integer that cannot be divided exactly by 2 is an odd number (examples: 1, 3, 5). Use the modulo operator (%) which returns the remainder of the division of the number to the left by the number on its right.

In [161]:
num = 3
if num % 2 == 0:
    print("Your integer is even")
else: 
    print("Your integer is odd")

Your integer is odd

## elif statement

Must be after an if statement. elif statement statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.

Similar to the else, the elif statement is optional. However, unlike else, for which there can be at most one statement, there can be an arbitrary number of elif statements following an if.

In [162]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

num = 21

In [163]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

Later on in the tutorial series, we will go over simulating dice rolls and talking about the distribution

In [164]:
# You can have mulitple elif statements. 
# Remember only the first True statement has its block of code executed. 

dice_value = 1
if dice_value == 1:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 2:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 3:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 4:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 5:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 6:
    print('You rolled a {}. Great job!'.format(dice_value))
else:
    print('None of the conditions above (if elif) were evaluated as True')

You rolled a 1. Great job!

<b>Task</b>

1. Assign num to an integer value. 
2. Write a series of if, elif, else statements that will print the num you assigned. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [165]:
# Solution 1
num = 10

In [166]:
if num % 3 == 0 and num % 5 == 0:
    print('FizzBuzz')
elif num % 3 == 0:
    print('Fizz')
elif num % 5 == 0:
    print('Buzz')
else:
    print(str(num))

Buzz

In [167]:
# Solution 2
num = 15

In [168]:
"""Notice how difficult this solution is relative to Solution 1"""

string = ""
if num % 3 == 0:
    string = string + "Fizz"
if num % 5 == 0:
    string = string + "Buzz"
if num % 5 != 0 and num % 3 != 0:
    string = string + str(num)
print(string)

FizzBuzz

## Lists

Lists are written within square brackets [ ]

 |  |  |  |
--- | --- | --- | --- | ---
z =| [3, | 7, | 4, | 2]
index | 0 | 1 | 2 | 3

In [2]:
# Defining a list
z = [3, 7, 4, 2]

### Accessing Values in List

In [3]:
# The first element of a list is at index 0
z[0]

3

In [4]:
z[2]

4

In [6]:
# Access Last Element of List 
z[-2]

4

### Slicing Lists

In [120]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [22]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [47]:
# index 1 to end of list
z[1:]

[7, 4, 2]

### Minimum, Maximum, Length, and Sum of a list

In [7]:
print(min(z), max(z), len(z), sum(z))

2 7 4 16

### Count Number of Times Value is in List

In [8]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Return First Index of Value

 |  |  |  |  |  |
--- | --- | --- | --- | --- | --- | ---
random_list =| [4, | 1, | 5, | 4, | 10, | 4]
index=| 0 | 1 | 2 | 3 | 4 | 5

In [9]:
random_list.index(4)

0

In [75]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [180]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

### Sorting a list

In [15]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [16]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [17]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [18]:
# Sorting and Altering original list
# A-Z
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [19]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [20]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [21]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Add to the End of List

In [22]:
x

[11, 10, 8, 7, 4, 3, 2]

In [23]:
x.append(3)
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

### Remove First Occurence of Value in List

In [24]:
x.remove(10)
print(x)

[11, 8, 7, 4, 3, 2, 3]

### Remove Item at the Index you Provide

In [25]:
# List before you remove an item
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [26]:
# Remove item at the index
# this function will also return the item you removed from the list
# Default is the last index
x.pop(3)

4

In [27]:
print(x)

[11, 8, 7, 3, 2, 3]

### Extend (Useful for Concatenating Lists)

Extend list by appending elements (iterable)

In [28]:
x.extend([4, 5])

In [29]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

You can also use + for concatenating lists

In [195]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.

# Concatenating Lists
print('x+y=',x+y)

x+y= [11, 8, 7, 3, 2, 3, 4, 5, 'Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Insert Item before the Index you Provide

In [30]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [197]:
x.insert(4, [4, 5])

In [198]:
x

[11, 8, 7, 3, [4, 5], 2, 3, 4, 5]