## Lists

Lists are written within square brackets [ ]

 |  |  |  |
--- | --- | --- | --- | ---
z =| [3, | 7, | 4, | 2]
index | 0 | 1 | 2 | 3

In [2]:
# Defining a list
z = [3, 7, 4, 2]

### Accessing Values in List

In [3]:
# The first element of a list is at index 0
z[0]

3

In [4]:
z[2]

4

In [6]:
# Access Last Element of List 
z[-2]

4

### Slicing Lists

In [120]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [22]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [47]:
# index 1 to end of list
z[1:]

[7, 4, 2]

### Minimum, Maximum, Length, and Sum of a list

In [7]:
print(min(z), max(z), len(z), sum(z))

2 7 4 16

### Count Number of Times Value is in List

In [8]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Return First Index of Value

 |  |  |  |  |  |
--- | --- | --- | --- | --- | --- | ---
random_list =| [4, | 1, | 5, | 4, | 10, | 4]
index=| 0 | 1 | 2 | 3 | 4 | 5

In [9]:
random_list.index(4)

0

In [75]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [180]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

### Sorting a list

In [15]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [16]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [17]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [18]:
# Sorting and Altering original list
# A-Z
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [19]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [20]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [21]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Add to the End of List

In [22]:
x

[11, 10, 8, 7, 4, 3, 2]

In [23]:
x.append(3)
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

### Remove First Occurence of Value in List

In [24]:
x.remove(10)
print(x)

[11, 8, 7, 4, 3, 2, 3]

### Remove Item at the Index you Provide

In [25]:
# List before you remove an item
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [26]:
# Remove item at the index
# this function will also return the item you removed from the list
# Default is the last index
x.pop(3)

4

In [27]:
print(x)

[11, 8, 7, 3, 2, 3]

### Extend (Useful for Concatenating Lists)

Extend list by appending elements (iterable)

In [28]:
x.extend([4, 5])

In [29]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

You can also use + for concatenating lists

In [195]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.

# Concatenating Lists
print('x+y=',x+y)

x+y= [11, 8, 7, 3, 2, 3, 4, 5, 'Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Insert Item before the Index you Provide

In [30]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [197]:
x.insert(4, [4, 5])

In [198]:
x

[11, 8, 7, 3, [4, 5], 2, 3, 4, 5]

**if this tutorial doesn't cover what you are looking for, please leave a comment on the youtube video and I will try to cover what you are interested in. (Please subscribe if you can!)**

https://www.youtube.com/watch?v=w9I8R3WSVqc